# We first ignore all projects and extensions so that we can simply copy our I7 directory into the repository.
*.inform
* Materials
*.i7x
*.glk*

# The stuff we want to include is listed here, prefixed with !
!Extensions/Victor Gijsbers/Kerkerkruip*

Reserved